<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ardalis.GuardClauses" version="4.0.1" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2022.1.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="6.0.0" targetFramework="net48" />
</packages>